.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .625rem;

    min-inline-size: 8.6875rem;
    min-block-size: 2rem;

    background-color: var(--color-primary);

    font-family: var(--ff-heading);
    font-weight: 400;

    text-transform: uppercase;
    color: var(--color-text-primary);
    transition: all var(--transition);

    &:active {
        transform: translateY(2px);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--color-primary-darker);
        }
    }
}